<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="J:\HydraulicModel\FlowRequest\"/>
    <add key="EpaDll" value="J:\HydraulicModel\Software\Epanet\Version2.2\epanet2.2_toolkit\epanet2.dll"/>
    <add key="fileName" value="HydrantFlow"/>
    <add key="senderEmail" value="cbasford@nnva.gov"/>
    <add key="senderDisplayName" value="Chris Basford"/>
    <add key="smsAccountSid" value ="nicetry"/>
    <add key="smsAuthToken" value="nope"/>
    <add key="smsFromPhoneNumber" value="5551212"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.\sql2016;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="Engineering" connectionString="Server=devFreshwater;Database=Engineering;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="ADOConnectionEng" connectionString="Data Source=Glacier;Initial Catalog=Engineering;Integrated Security=True;application name=Model" providerName="System.Data.SQLClient" />
    <add name="ADOConnectionEngGis" connectionString="Data Source=Glacier;Initial Catalog=sdeEngineering;Integrated Security=True;application name=Model" providerName="System.Data.SQLClient" />
    <add name="devADOConnectionEng" connectionString="Data Source=DevFreshWater;Initial Catalog=Engineering;Integrated Security=True;application name=Model" providerName="System.Data.SQLClient" />
    <add name="devADOConnectionEngGis" connectionString="Data Source=DevFreshWater;Initial Catalog=sdeEngineering;Integrated Security=True;application name=Model" providerName="System.Data.SQLClient" />
    <add name="ADOConnectionScada" connectionString="Data Source=York2;Initial Catalog=Miser;Integrated Security=True;application name=Miser" providerName="System.Data.SQLClient" />
    <add name="OledbConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\CSharp\RealTimeModel\RealTimeModel\SqlServer.mdb" />
    <add name="LocalADOConnection" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; Integrated Security = True;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Tim" password="testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>